<h1>Compras</h1>
<p-table [value]="">
    <ng-template pTemplate="header">
        <tr class="tabela">
            <th>Id</th>
            <th>Empresa</th>
            <th>Pedido</th>
            <th>Preço total</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>
</p-table>
<button pButton type="button" label="Nova Compra" (click)="navegarComprarProduto()"></button>
